dl {
  padding: 1rem;
  background-color: $gray;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  border: 2px solid $black;
  border-radius: 1rem;
}

dl.wp-caption {
  display: none;
}

dt {
  text-align: right;
  font-weight: bold;
  color: $dark-orange;
  margin-bottom: 1rem;
}

dd {
  text-align: left;
}
