.error404 {
  .content {
    max-width: 100%;
    display: block;
  }

  .nf404 {
    display: grid;
    grid-template-areas: "left" "right";

    @include breakpoint(phablet) {
      grid-template-areas: "left right";
      grid-template-columns: 2fr 1fr;
    }

    .nf404-content {
      text-align: center;
      grid-area: left;
      align-self: center;

      blockquote {
        width: 100%;
        font-size: 1rem;
      }

      h1 {
        margin-top: 2rem;
        font-size: 10rem;
      }

      .nf404-text {
        font-family: $header-font;
        font-size: 2rem;
      }
    }

    .nf404-image {
      width: 100%;
      grid-area: right;
      align-self: center;
    }
  }

  .search-form {
    margin: 2rem 0;
  }
}
