.content {
  width: 100%;
}

.landing {
  width: 100vw;
  height: 80vh;
  background: $white url(../images/trampsparent-top.png) no-repeat right bottom;
  background-size: auto 80%;

  .kodefant-main-img {
    height: 80vh;
    width: auto;
  }
}
