/** Colors */
$black: #333;
$white: #fafafa;
$orange: #ffa500;
$dark-orange: #dd9000;
$red: #a34b4b;
$green: #007b6e;
$blue: #525ddc;
$gray: #ededed;
$dark-gray: #666;
$brand-primary:         $white;
$hover-color:             $black;
$background-nav:          $black;

$main-font: 'Open Sans', sans-serif;
$header-font: 'Poiret One', cursive;

$navbar-height: 50.375px;
$line-height: 30px;

$desktop-margin: 5rem;
$tablet-margin: 2.5rem;

/*********************
BOX MODEL
**********************/
$spacer:                2rem;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }

  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }

  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }

  @else if $point == phablet {
    @media (min-width: 37.5em) { @content ; }
  }

  @else if $point == mobileonly {
    @media (max-width: 37.5em) { @content ; }
  }

  @else if $point == smallmobileonly {
    @media (max-width: 25em) { @content ; }
  }
}
